#mainMenu
{
	display: flex;
	align-items: flex-start;
}

#playerData
{
	height: 100%;
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
}

#intraPhoto{
	border-radius: 50%;
}